# .env.example
GOOGLE_API_KEY="insert_your_api_key_here"
GOOGLE_API_KEY_2="insert_your_second_api_key_here"
GOOGLE_API_KEY_3="insert_your_third_api_key_here"
GOOGLE_API_KEY_4="insert_your_fourth_api_key_here"
GOOGLE_API_KEY_5="insert_your_fifth_api_key_here"
GOOGLE_API_KEY_6="insert_your_sixth_api_key_here"